exports/makescenario.json
{
    "name": "Create social media posts from a blog using ChatGPT 1/2",
    "flow": [
        {
            "id": 10,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://avimedtech.com/feed/",
                "username": "",
                "password": "",
                "filterDateFrom": "",
                "filterDateTo": "",
                "maxResults": "1",
                "gzip": true
            },
            "metadata": {
                "designer": {
                    "x": -233,
                    "y": -143
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "type": "collection",
                        "label": "Image",
                        "spec": [
                            {
                                "name": "title",
                                "label": "Name",
                                "type": "text"
                            },
                            {
                                "name": "url",
                                "label": "URL",
                                "type": "url"
                            }
                        ]
                    },
                    {
                        "name": "categories",
                        "type": "array",
                        "label": "Categories",
                        "spec": {
                            "type": "text"
                        }
                    },
                    {
                        "name": "source",
                        "type": "collection",
                        "label": "Source",
                        "spec": [
                            {
                                "name": "title",
                                "label": "Name",
                                "type": "text"
                            },
                            {
                                "name": "url",
                                "label": "URL",
                                "type": "url"
                            }
                        ]
                    },
                    {
                        "name": "enclosures",
                        "type": "array",
                        "label": "Enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "label": "URL",
                                "type": "url"
                            },
                            {
                                "name": "type",
                                "label": "Type",
                                "type": "text"
                            },
                            {
                                "name": "length",
                                "label": "Length",
                                "type": "number"
                            }
                        ]
                    },
                    {
                        "name": "rssFields",
                        "label": "RSS fields",
                        "help": "Other RSS fields. All values are in text format.",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "title",
                                "label": "title",
                                "type": "text"
                            },
                            {
                                "name": "link",
                                "label": "link",
                                "type": "text"
                            },
                            {
                                "name": "pubdate",
                                "label": "pubdate",
                                "type": "text"
                            },
                            {
                                "name": "category",
                                "label": "category",
                                "type": "text"
                            },
                            {
                                "name": "guid",
                                "label": "guid",
                                "type": "text"
                            },
                            {
                                "name": "description",
                                "label": "description",
                                "type": "text"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 38,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8237026
            },
            "mapper": {
                "model": "gemma-4-31b-it",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Create ONE professional image generation prompt.\r\n\r\nBlog Title:\r\n{{10.title}}\nBlog Content:\r\n{{10.description}}\nRequirements:\r\n- Healthcare technology theme\r\n- Modern hospital environment\r\n- Professional corporate style\r\n- Realistic photography\r\n\r\nReturn ONLY the image prompt."
                            }
                        ]
                    }
                ],
                "system_instruction": {},
                "generationConfig": {
                    "thinkingConfig": {},
                    "imageConfig": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 174,
                    "y": -136
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemma 4 31B IT"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 49,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": ""
            },
            "mapper": {
                "url": "https://serpapi.com/search",
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer ba22a499eef79a508761ab17f8b4ee7f67231ebfcda0c76739472f7b1061dad5"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "queryParameters": [
                    {
                        "name": "engine",
                        "value": "google_images"
                    },
                    {
                        "name": "q",
                        "value": "modern hospital AI radiology software"
                    },
                    {
                        "name": "api_key",
                        "value": "a5799587cb2c64084210504ec5ff42ee5359ac20bf0cc8626bbb7c8a7cf9f490"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\r\n  \"prompt\": \"A serene mountain landscape at sunset\",\r\n  \"model\": \"google/nano-banana-2:free\",\r\n  \"size\": \"auto\",\r\n  \"output_format\": \"webp\"\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 669,
                    "y": -149
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 43,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 8236006
            },
            "filter": null,
            "mapper": {
                "base": "appn2TmwQExRIL89z",
                "typecast": false,
                "useColumnId": false,
                "table": "tbltAtqxSI7n5KucD",
                "record": {
                    "fldtAlcyYxCRk3HQ6": "{{10.title}}",
                    "fldkMjmFuILa4M8Wf": "{{10.url}}",
                    "fldYuZcsNv8En34rF": "{{38.result}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1077,
                    "y": -142
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable Token or Key connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Social Media Posts"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldtAlcyYxCRk3HQ6",
                                            "label": "Title",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldkMjmFuILa4M8Wf",
                                            "label": "Link",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldYuZcsNv8En34rF",
                                            "label": "AI Post",
                                            "type": "text",
                                            "multiline": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "SocialMediaPosts"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldtAlcyYxCRk3HQ6",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "fldkMjmFuILa4M8Wf",
                                "type": "text",
                                "label": "Link"
                            },
                            {
                                "name": "fldYuZcsNv8En34rF",
                                "type": "text",
                                "label": "AI Post"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Title",
                        "label": "Title",
                        "type": "text"
                    },
                    {
                        "name": "Link",
                        "label": "Link",
                        "type": "text"
                    },
                    {
                        "name": "AI Post",
                        "label": "AI Post",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "Created",
                        "label": "Created",
                        "type": "date"
                    }
                ]
            }
        },
        {
            "id": 50,
            "module": "linkedin:CreateCompanyImagePost",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8268982
            },
            "mapper": {
                "organization": "urn:li:organization:105171038",
                "method": "link",
                "content": "🚀 The future of radiology reporting is being transformed by AI.\r\n\r\nModern radiology software is evolving beyond traditional reporting by incorporating AI-powered analysis, workflow automation, and intelligent decision support. These innovations help radiologists improve efficiency, reduce reporting time, and enhance diagnostic accuracy.\r\n\r\nKey trends shaping the future:\r\n✅ AI-assisted image interpretation\r\n✅ Automated reporting workflows\r\n✅ Real-time clinical decision support\r\n✅ Improved interoperability and data sharing\r\n✅ Enhanced patient outcomes through faster diagnosis\r\n\r\nLearn more:\r\nhttps://avimedtech.com/future-trends-in-radiology-reporting-software/\r\n\r\n#Radiology #HealthcareAI #MedicalImaging #DigitalHealth #HealthTech #AVIMedTech\r\n",
                "visibility": "PUBLIC",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": false,
                "url": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-2rCva4rjpy7BvUdSp0aKepl3BDp_IVt9bA&s"
            },
            "metadata": {
                "designer": {
                    "x": 1415,
                    "y": -146
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My LinkedIn connection (AVI  Medtech)",
                            "data": {
                                "scoped": "true",
                                "connection": "linkedin2"
                            }
                        }
                    },
                    "expect": {
                        "organization": {
                            "mode": "chose",
                            "label": "AVI MedTech"
                        },
                        "method": {
                            "label": "Upload by link"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Anyone"
                        },
                        "feedDistribution": {
                            "mode": "chose",
                            "label": "Main feed"
                        },
                        "isReshareDisabledByAuthor": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:linkedin2,linkedin-openid",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "organization",
                        "type": "select",
                        "label": "Company",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Choose Upload Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "upload",
                                "link"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "altText",
                        "type": "text",
                        "label": "Alt Text"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                            ]
                        }
                    },
                    {
                        "name": "feedDistribution",
                        "type": "select",
                        "label": "Feed Distribution",
                        "required": true,
                        "validate": {
                            "enum": [
                                "MAIN_FEED",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "isReshareDisabledByAuthor",
                        "type": "boolean",
                        "label": "Is Reshare Disabled",
                        "required": true
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "Image URL",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}